/* 
    Document   : style
    Created on : 26/08/2013, 22:04:07
    Author     : joao
    Description:
        Purpose of the stylesheet follows.
*/



/* Estilos de elementos */
* { padding: 0; margin: 0; font-family: verdana;  color: #777; font-size: 11px; font-weight: normal }
a { text-decoration: none; color: #D54E21; font-size: inherit }
a:hover { text-decoration: underline}
p { font-size: 1.2em; margin-bottom: 10px}
strong { font-weight: bold}
ul { list-style-type: none;} 
img { border: 0}
a img {outline : none;}
article ul { list-style: disc; list-style-position: inside;}
article ol {  list-style-position: inside; }
article em, article i, article strong, article del {  font-size: 12px }
article ul li, article ol li {  font-size: 13px }


/* Estilos de uso geral */
.float-right { float: right }
.float-left {float: left}
.clear { clear: both}
.no-mg-right { margin-right: 0px !important}
.site { max-width: 960px; margin: 2px auto}
.position-relative { position: relative}

/* Estilos reaproveitados ao longo do site */
.azul-borges { color: #5e789d}
.azul-borges-bg { background-color: #5e789d}
.marrom-borges { color: #a28f55}
.marrom-borges-bg { background-color: #a28f55}
.coluna-esquerda { width: 71.35%}
.coluna-esquerda h2 { font-size: 1.4em; font-weight: bold; margin-bottom: 10px}
.coluna-esquerda h3 { font-size: 1.2em; font-weight: bold; margin-bottom: 10px}

/* Estilo de seções específicas */
.logo-topo { display: block; color: transparent; background: url('imgs/logo.png') no-repeat; width: 28.65%; height: auto}
.logo-topo a img { width: 100%; height: auto;}

.social { margin: 12px 0px 6px 0px; width: 100%; text-align: right}
.social .twitter img { width: 4.61%; height: auto; }
.social .facebook img { width: 4.61%; height: auto;  }

.menu-topo  { width: 67.71%}
.menu-topo nav, .menu-topo ul { width: 100%}
.menu-topo ul li { display: inline-block; width: 16.15%; height: 32px;text-align: center; padding: 14px 0px 0px 0px; position: relative; margin-right: 0.51%; }
.menu-topo ul li:hover { background: #7a8ca4;  cursor: pointer; }
.menu-topo ul li a { color: #ddd; display: inline-block; height: 100%; width: 100%; margin-top:4px}
.menu-topo ul li a:hover { /*color: #fff;*/ text-decoration: none }
.menu-topo-mobile { display: none}

.corte {border-bottom: 14px transparent solid; display: inline-block; float: left; border-left: 14px #fff solid; position: absolute; top: 0px; left: 0px;}

.busca-topo { margin: 0px 0px 0px 0px; width: 21.25%; }
.busca-topo input[type=text] { width: 80%; height: 26px; border: 1px solid #a28f55; display: block; float: left}
.busca-topo input[type=submit] { width: 14%; height: 28px; background: url('imgs/busca.png') center; border: 0px; margin: 0px 4% 0px 0px;  display: block; float: left}

.conteudo { margin: 17px 0px}

.destaques-home { width: 25%; margin-top: 50px}
.destaques-home article { margin-bottom: 30px}
.destaques-home article h2 { font-size: 15px; font-weight: bold }
.destaques-home a { font-size: 12px; color: #777  }
.slideshow { margin: 0px 0px 26px 0px; width: 73.12%}
.slideshow img { width: 100%; height: 385px}

.titulo h2, .titulo h1 {  line-height: 100%;  border-left: 3px solid #a28f55;display: table-cell;margin: 0;border-bottom: 3px solid #a28f55;border-radius: 8px 0 0px 8px;border-top: 3px solid #a28f55;padding: 8px;font-size: 18px;font-weight: normal;}

.titulo { position: relative; margin-bottom: 28px}

.linha-titulo { border-bottom: 3px solid #a28f55; display: block; position: relative; top: 3px; left: 8px; width: 98% }

.linha-boxes { }
.linha-boxes article { border-top: 3px #5e789d solid; padding-top: 8px; width: 19.27%; margin-right: 0.83%; margin-bottom: 30px}
.linha-boxes article img { width: 100%; height: auto;}
.linha-boxes article h2 { margin: 10px 10px 10px 0px; font-weight: normal}
.linha-boxes article a { color: #D54E21;}

.todas-noticias { width: 132px; background: url('imgs/setas.png') no-repeat center right; }
.todas-noticias a { font-size: 13px; }

/* QUEM SOMOS */
.corte-superior-esquerdo { border-top: 55px solid #fff; border-right: 55px solid transparent; position: absolute; top: 0px; left: 0px; z-index: 2000}
.corte-inferior-direito { border-bottom: 55px solid #fff; border-left: 55px solid transparent; position: absolute; bottom: 0px; right: 0px; z-index: 1000}
.quem-somos-img { width: 39.56%;  margin-bottom: 10px}
.quem-somos-img img { width: 100%; height: auto; margin-bottom: 10px}
.quem-somos-img-leg strong { font-size: 1.1em; font-weight: bold} 
.texto-quem-somos { margin: 0px 0px 0px 3.64%; width: 53.28%; }
.texto-quem-somos a:last-of-type { color: #D54E21;  }

/* CORPO CLÍNICO */
.corpo-clinico { margin: 30px 0px 0px 11px}
.corpo-clinico article { margin-bottom: 30px}

/* NOTICIAS */
.noticias article, .busca article {/*width: 29.78%;*/ margin-right: 5.3%}

/* EXAMES */
.exames aside { width: 24.08%; margin-right: 5.54%;}
.exames aside ul li { font-size: 1.3em; margin-bottom: 15px;}
.exames article { width: 69.66%; border: 0px; padding: 0; margin: 0}
.exames article h1 { font-size: 1.5em; margin-bottom: 15px}
.tarja-img { height: 15px; margin-bottom: 30px;}


/* CONTATO */
.contato-esquerda { width:35%}
.contato-endereco h3 { font-size: 14px; font-weight: bold}
.contato-endereco h4 { font-size: 14px; margin-bottom: 10px}
.contato-endereco p { line-height: 10px; font-size: 12px}
.contato-endereco p a { font-size: 11px}
.contato-endereco .telefones { width: 100px; font-size: 12px; margin-bottom: 10px; line-height: 19px;}

/* SIDEBAR */
aside.sidebar { width: 21.17%; background: url('imgs/sidebar-title-bg.png') repeat-x top center}
aside.sidebar h2 { font-size: 1.2em; display: inline-block; background: #fff; padding-right: 7.75%; margin-bottom: 25px; font-weight: bold }
aside.sidebar h3 { font-size: 0.9em; margin-bottom: 6px; height: 48px; overflow: hidden}
aside.sidebar article div.titulo-box { width: 60.59%;display: block;float: right; margin-bottom: 14px;}
aside.sidebar article img { margin-right: 4.3%; width: 34.8%; height: auto}
aside.sidebar article {  }

/* RODAPE */
.rodape nav ul { list-style-type: none}
.rodape nav ul li { display: inline-block; width: 14.16%; border-right: 1px solid #d5d5d5; height: 42px; margin-top: 60px; }
.rodape nav ul li a { font-size: 14px;}
.tarja-azul-rodape { width: 100%;  margin-top: 12px; padding-top: 15px; padding-bottom: 15px; float:left }
.tarja-azul-rodape section { color: #fff; margin-top: 18px; text-align: left; float:left}
.tarja-azul-rodape section strong { color: #fff; font-weight: bold }

.creditos a, .creditos a:hover, .creditos { color: #fff;}


/* ESTILOS MOBILE */
@media screen and (max-width: 480px) {
  body { margin: 0; padding: 0}
  .site { margin: 0;}
  .logo-topo { width: 100%; height: auto; display: block; float: none }
  .menu-topo { display: none }
  .menu-topo-mobile { display: block; margin-top: 18px}
  .menu-topo-mobile ul { width: 90%; margin: auto; }
  .menu-topo-mobile-botao ul li { display: inline-block; width: 100%; height: 32px;text-align: center; position: relative; margin: auto; font-weight: bold; }
  .menu-topo-mobile-botao ul li a { font-weight: bold}
  .menu-topo-mobile ul li {margin: 1px 0px; padding: 15px 0px;text-align: center; }
  .menu-topo-mobile ul li a { color: #ddd; display: inline-block; height: 100%; width: 100%; font-size: 150%}
  .social { position: absolute; top: 20px; left: 0; width: 100%}
  .social .twitter img, .social .facebook img  { width: 12.5%}
  .busca-topo { margin: 14px auto 0px auto; width: 90%; float: none}
  .busca-topo input[type=text] { width: 80%; height: 26px; border: 1px solid #a28f55; display: block; float: left}
  .busca-topo input[type=submit] { 
    width: 10%; 
    height: 28px; 
    background-image: url('imgs/busca.png'); 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-color: #a28f55;
    border: 0px; 
    margin: 0px; 
    display: block; 
    float: right
  }  

  #slideshow, .sidebar, .slideshow  { display: none }
  .destaques-home { width: 100%}
  article { width: 90%; margin: auto}
  .coluna-esquerda { width: 100%; }
  .coluna-esquerda section { width: 100%; }
  .coluna-esquerda article, .linha-boxes article { width: 90%; margin: 12px auto; float: none; display: block}
  .coluna-esquerda .no-mg-right, .linha-boxes .no-mg-right { margin: auto !important; }

  .quem-somos-img { width: 100%;  margin-bottom: 10px}
  
  .exames aside.lista-exames  { width: 100%; display:block; text-align: center; border-bottom: 3px #5e789d solid; margin-bottom: 12px }
  
  
  
  .rodape nav ul li {
    display: block;
    width: 100%;
    border: 0;
    margin: 0px auto;
    text-align: center
  }
  
  .creditos { margin-top: 40px;}

}