/* 
    Document   : style
    Created on : 26/08/2013, 22:04:07
    Author     : joao
    Description:
        Purpose of the stylesheet follows.
*/



/* Estilos de elementos */
* { padding: 0; margin: 0; font-family: verdana;  color: #777; font-size: 11px; font-weight: normal }
a { text-decoration: none; color: #D54E21; font-size: inherit }
a:hover { text-decoration: underline}
p { font-size: 1.2em; margin-bottom: 10px}
ul { list-style-type: none;} 

/* Estilos de uso geral */
.float-right { float: right }
.float-left {float: left}
.clear { clear: both}
.no-mg-right { margin-right: 0px !important}
.site { width: 960px; margin: 12px auto}
.position-relative { position: relative}

/* Estilos reaproveitados ao longo do site */
.azul-borges { color: #5e789d}
.azul-borges-bg { background-color: #5e789d}
.marrom-borges { color: #a28f55}
.marrom-borges-bg { background-color: #a28f55}
.coluna-direita { width: 685px}
.coluna-direita h2 { font-size: 1.4em; font-weight: bold; margin-bottom: 10px}
.coluna-direita h3 { font-size: 1.2em; font-weight: bold; margin-bottom: 10px}

/* Estilo de seções específicas */
.logo-topo a { display: block; color: transparent; background: url('imgs/logo.png') no-repeat; width: 275px; height: 118px}

.social { margin: 12px 0px 6px 0px}
.social a { display: inline-block; color: transparent;  width: 30px; height: 25px; background: url('imgs/social.png') }

.social .twitter { background-position: 0px 0px;}
.social .facebook { background-position: 32px 0px; }


.menu-topo ul li { display: inline-block; width: 105px; height: 32px;text-align: center;padding: 16px 0px 0px 0px; position: relative}
.menu-topo ul li:hover { background: #7a8ca4;  cursor: pointer}
.menu-topo ul li a { color: #ddd; display: inline-block; height: 100%; width: 100%}
.menu-topo ul li a:hover { /*color: #fff;*/ text-decoration: none }

.corte {border-bottom: 14px transparent solid; display: inline-block; float: left; border-left: 14px #fff solid; position: absolute; top: 0px; left: 0px;}

.busca-topo { margin: 14px 0px 0px 0px; width: 204px}
.busca-topo input[type=text] { width: 168px; height: 26px; border: 1px solid #a28f55; display: block; float: left}
.busca-topo input[type=submit] { width: 28px; height: 28px; background: url('imgs/busca.png'); border: 0px; margin: 0px 6px 0px 0px;  display: block; float: left}

.conteudo { margin: 10px 0px}

.destaques-home { width: 240px; margin-top: 50px}
.destaques-home article { margin-bottom: 30px}
.destaques-home article h2 { font-size: 16px; }
.destaques-home a { font-size: 12px; color: #777  }
.slideshow { margin: 0px 0px 26px 0px }
.slideshow img { width: 702px; height: 385px}

.titulo h2, .titulo h1 {  line-height: 100%;  border-left: 3px solid #a28f55;display: table-cell;margin: 0;border-bottom: 3px solid #a28f55;border-radius: 8px 0 0px 8px;border-top: 3px solid #a28f55;padding: 8px;font-size: 18px;font-weight: normal;}

.titulo { position: relative; margin-bottom: 28px}

.linha-titulo { border-bottom: 3px solid #a28f55; display: block; position: relative; top: 3px; left: 8px; width: 952px }

.linha-boxes { }
.linha-boxes article { border-top: 3px #5e789d solid; padding-top: 8px; width: 185px; margin-right: 8px; margin-bottom: 30px}
.linha-boxes article img { width: 100%; height: auto;}
.linha-boxes article h2 { margin: 10px 10px 10px 0px; font-weight: normal}
.linha-boxes article a { color: #D54E21;}

.todas-noticias { width: 132px; background: url('imgs/setas.png') no-repeat center right; }
.todas-noticias a { font-size: 13px; }

/* QUEM SOMOS */
.corte-superior-esquerdo { border-top: 55px solid #fff; border-right: 55px solid transparent; position: absolute; top: 0px; left: 0px; z-index: 2000}
.corte-inferior-direito { border-bottom: 55px solid #fff; border-left: 55px solid transparent; position: absolute; bottom: 0px; right: 0px; z-index: 1000}
.quem-somos-img { width: 288px; height: 345px; margin-bottom: 10px}
.quem-somos-img-leg strong { font-size: 1.1em; font-weight: bold} 
.texto-quem-somos { margin: 0px 0px 0px 25px; width: 365px; }
.texto-quem-somos a:last-of-type { color: #D54E21;  }

/* CORPO CLÍNICO */
.corpo-clinico { margin: 30px 0px 0px 11px}
.corpo-clinico article { margin-bottom: 30px}

/* NOTICIAS */
.noticias article { margin-right: 35px}

/* EXAMES */
.exames aside { width: 165px; margin-right: 38px;}
.exames aside ul li { font-size: 1.3em; margin-bottom: 15px;}
.exames article { width: 474px; border: 0px; padding: 0; margin: 0}
.exames article h1 { font-size: 1.5em; margin-bottom: 15px}
.tarja-img { height: 15px; margin-bottom: 30px;}

/* SIDEBAR */
aside.sidebar { width: 232px; background: url('imgs/sidebar-title-bg.png') repeat-x top center}
aside.sidebar h2 { font-size: 1.2em; display: inline-block; background: #fff; padding-right: 18px; margin-bottom: 25px; font-weight: bold }
aside.sidebar h3 { font-size: 0.9em; margin-bottom: 6px; height: 48px; overflow: hidden}
aside.sidebar article img { margin-right: 10px; width: 81px; height: 67px}
aside.sidebar article { margin-bottom: 14px; }

/* RODAPE */
.rodape nav ul { list-style-type: none}
.rodape nav ul li { display: inline-block; width: 136px; border-right: 1px solid #d5d5d5; height: 42px; margin-top: 60px; }
.rodape nav ul li a { font-size: 14px}
.tarja-azul-rodape { height: 124px; width: 100%;  margin-top: 48px}


/* chato pra caralho */